.offerings {
  width: 1280px;
  margin-top: 55px;
  margin-bottom: 120px;
}

.offerings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  background-color: #ffe550;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 118px 47px 119px 20px;
}
.service-image {
  width: 550px;
  height: 604px;
}
.ellipse-2 {
  width: 550px;
  height: 550px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-1 {
  width: 502px;
  height: 502px;
  background-color: #fff;
  border-radius: 100%;
}
.image-aple {
  position: absolute;
  width: 396px;
  height: 502px;
  left: 100px;
  top: 905px;
}
.group-offerings {
  max-width: 573px;
  max-height: 413px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offerings-item {
  max-width: 526px;
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
  text-align: left;
}
.offerings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  padding-top: 20px;
}
.service-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 67px;
}
.servise-item {
  max-width: 253px;
}
.servise-icons {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.icon-service {
  fill: #7eb101;
}
.service-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
  text-align: left;
}
.service-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  padding-top: 16px;
}

.btn-service {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background-color: #fff;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  margin-top: 27px;
}
