body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
} */

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.offerings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  background-color: #ffe550;
  width: 100%;
  height: 100%;
}

.group-offerings {
  width: 573px;
  height: 413px;
}

.icon-service {
  width: 48px;
  height: 48px;
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2c2c2c;
}

.offerings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2c2c2c;
  padding-top: 20px;
}
.service-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c2c2c;
}
.service-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
  padding-top: 16px;
}
.btn-service {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  background-color: #fff;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
}
